<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>

    {% load static %}
	<link rel="icon" href="{% static 'login/img/logocollec.ico' %}">
	
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
  
</head>
	<body>
		
		<div class="container">
			<div class="screen">
				<div class="screen__content">
					
					<form class="login" method="post" action="">
						{%  csrf_token %}
						<h1 class="titulo_1" >Sistema de Acciones Sarasti </h1>
						<h1 class="titulo_2">S. A. S.</h1>

						<div class="login__field">
							
							<i class="login__icon fas fa-user"></i>
							<input type="text" name="usuario" class="login__input" placeholder="Usuario">
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
							<input type="password" name="password" class="login__input" placeholder="Contraseña">
						</div>
						<button class="button login__submit" type="submit">
							<span class="button__text">Iniciar Sesión</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>				
					</form>
					
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>		
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>		
			</div>
		</div>
		{% if mensaje%}

		<script >
		window.onload = function alert() {

			Swal.fire({
				title: "Simple BJ",
				text: '{{mensaje}}',
				icon: '{{status}}',
				confirmButtonText: 'Ok',
			}).then((result) => {
				if (result.isConfirmed) {
					// navigateByUrl('home');
				}
			});
		}

		</script>
		{% endif %}

		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</body>
</html>